<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- datasource -->
	<import resource="data-sources.xml"/>
	
	<!-- dao 的 父类 -->
    <bean id="daoParent" abstract="true">
    	<property name="dataSource">
    		<ref bean="test"/>
    	</property>
    </bean>
	<!-- dao -->
	<bean id="wordDao" class="com.geewaza.wangheng.spider.shanbay.wordbook.dao.WordDao" parent="daoParent"/>
	
	<!-- service -->
	<bean id="wordbookSpiderService" class="com.geewaza.wangheng.spider.shanbay.wordbook.service.WordbookSpiderService" scope="singleton">
		<property name="outputPath" value="D:/opt/logs/"/>
		<property name="outputFileName" value="word_@BOOKID.txt"/>
		<property name="wordbookURL" value="http://www.shanbay.com/wordbook/@BOOKID/"/>
		<property name="bookId" value="5440"/>
		<property name="wordDao" ref="wordDao"/>
	</bean>
</beans>